.home .homeSearch {
  width: 700px;
}

.home .boxBG {
  background: linear-gradient(
    90deg,
    rgb(110, 94, 254) 0%,
    rgba(73, 63, 252, 1) 100%
  );
  height: 100px;
}

.home .homeSearch .btn{
  color: #6E5EFE;
}

