* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", serif; /*font is changed, feel free to change it back*/
}

.page {
}

.login { 
  background: url(./BGImages/loginBg.jpg);
  width: 100%; 
  height: 10%; 
  padding-bottom: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup { 
  background: url(./BGImages/signupBg.jpg);
  width: 100%; 
  height: 10%; 
  padding-bottom: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.forgot { 
  background: url(./images/password_forgot.svg);
  background-position: right 5% bottom;
  padding-bottom: 100px;
  background-repeat: no-repeat;
  background-size: 20em 20em;
}

.panelOption:hover {
  border-radius: 7px;
  box-shadow: 0 5px 5px 0 #5353537c;
  transform: scale(1.05);
  transition: 0.3s;
  font-weight: bold;
  color: #000;
  background-color: rgb(240, 240, 240);
}

.panelOption {
  border-radius: 5px;
  box-shadow: none;
  transition: 0.3s;
}

.enlargeBtn:not(:hover) {
  transform: scale(1.0);
  transition: 0.3s;
}

.enlargeBtn:hover {
  transform: scale(1.05);
  transition: 0.3s;
}

.enlargeGrid:not(:hover) {
  transform: scale(1.0);
  transition: 0.2s;
}

.enlargeGrid:hover {
  transform: scale(1.05);
  transition: 0.2s;
}

