* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", serif; /*font is changed, feel free to change it back*/
}

.page {
}

.login { 
  background: url(./BGImages/loginBg.jpg);
  width: 100%; 
  height: 10%; 
  padding-bottom: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.signup { 
  background: url(./BGImages/signupBg.jpg);
  width: 100%; 
  height: 10%; 
  padding-bottom: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.panelOption:hover {
  border-radius: 7px;
  box-shadow: inset 0 0 0 2px #6E5EFE,
              0 5px 5px 0 #cbc5ff7c;
  transform: scale(1.05);
  transition: 0.3s;
  font-weight: bold;
  color: #6E5EFE;
}

.panelOption {
  border-radius: 5px;
  box-shadow: none;
  transition: 0.3s;
}

