.search-wrapper {
  display: inline-block;
  margin: 20px 0px 20px 40px;
  display: flex;
  flex-direction: column;
}

.test img {
  width: 200px; /* You can set the dimensions to whatever you want */
  height: 200px;
  object-fit: cover;
  float:right;
}
